body {
    
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/005/754/759/large/jayson-kassis-highresscreenshot00200.jpg?1493552255');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
